@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin:0;
    padding:0;
}

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .sub1-section1{
        background-image: url(images/kitchen.jpg);
        background-size:cover;
        min-height: 90%;
        width:200%;
        float: left;
        height: 60vh;
        position: relative;

        .navbar{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            li{
                list-style: none;
                margin:10px 30px;
                font-family: 'Audiowide', cursive;
                
                a{
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }
    }
    .sub2-section1{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:0px 60px 0px 60px;
        h1{

            text-align: center;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 4vw;
        }

        p{
            font-family: 'Lexend Deca', sans-serif;
            text-align: center;
            font-size: 1.5vw;
        }

        a{
            text-decoration: none;
            letter-spacing: 10px;
            padding-top: 20px;
            font-family: 'Lexend Deca', sans-serif;
            color: rgb(13, 13, 14);

            &:hover{
                letter-spacing: 20px;
                transition: 1s;
            }
        }
    }
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .sub1-section2{
        background-image: url(images/kitchen2.jpg);
        background-size:cover;
        min-height: 90%;
        width:120%;
        float: left;
        height: 40vh;
        position: relative;
    }

    .sub2-section2{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width:160%;


        h1{
            padding: 0px 0px 10px 20px;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 2vw;
        }
        p{
            font-family: 'Lexend Deca', sans-serif;
            padding: 0px 0px 0px 20px;
            font-size:1.5vw;
            
        }
    }

    .sub3-section2{
        background-image: url(images/kitchen3.jpg);
        background-size:cover;
        min-height: 90%;
        width:120%;
        float: left;
        height: 40vh;
        position: relative;
    }

}