@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f9f9f9;
}

.section-1 .sub1-section1 {
  background-image: url(images/kitchen.jpg);
  background-size: cover;
  min-height: 90%;
  width: 200%;
  float: left;
  height: 60vh;
  position: relative;
}

.section-1 .sub1-section1 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: revert;
}

.section-1 .sub1-section1 .navbar li {
  list-style: none;
  margin: 10px 30px;
  font-family: 'Merriweather Sans', sans-serif;
}

.section-1 .sub1-section1 .navbar li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1vw;
  font-style: oblique;
  opacity: 75%;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.section-1 .sub1-section1 .navbar li a:hover {
  opacity: 90%;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.section-1 .sub2-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 60px 0px 60px;
}

.section-1 .sub2-section1 h1 {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 3.3vw;
  color: #202020;
  letter-spacing: 5px;
}

.section-1 .sub2-section1 p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.1vw;
  padding-top: 20px;
  opacity: 65%;
  font-style: oblique;
}

.section-1 .sub2-section1 a {
  text-decoration: none;
  letter-spacing: 10px;
  padding-top: 20px;
  font-family: 'Lexend Deca', sans-serif;
  color: #0d0d0e;
  font-size: 2vw;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.section-1 .sub2-section1 a:hover {
  letter-spacing: 20px;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f9f9f9;
}

.section-2 .sub1-section2 {
  background-image: url(images/kitchen2.jpg);
  background-size: cover;
  min-height: 90%;
  width: 120%;
  float: left;
  height: 40vh;
  position: relative;
}

.section-2 .sub2-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160%;
  padding: 0px 60px 0px 60px;
}

.section-2 .sub2-section2 h1 {
  padding: 0px 0px 10px 20px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2vw;
  color: #202020;
  letter-spacing: 5px;
}

.section-2 .sub2-section2 p {
  font-family: 'Lato', sans-serif;
  padding: 0px 0px 0px 20px;
  font-size: 1.1vw;
  font-style: oblique;
  opacity: 65%;
}

.section-2 .sub3-section2 {
  background-image: url(images/kitchen3.jpg);
  background-size: cover;
  min-height: 90%;
  width: 120%;
  float: left;
  height: 40vh;
  position: relative;
  opacity: 75%;
}

/**Mobile Phones */
@media screen and (max-width: 480px) {
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-1 .sub1-section1 {
    background-image: url(images/kitchen.jpg);
    background-size: cover;
    min-height: 90%;
    max-width: 100%;
    float: left;
    height: 35vh;
    position: relative;
    opacity: 65%;
    margin: unset;
    height: -webkit-fill-available;
  }
  .section-1 .sub1-section1 .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: revert;
    background-color: black;
    opacity: 60%;
    margin: initial;
  }
  .section-1 .sub1-section1 .navbar li {
    list-style: none;
    margin: 10px 30px;
    font-family: 'Merriweather Sans', sans-serif;
  }
  .section-1 .sub1-section1 .navbar li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 7.4vw;
    font-style: oblique;
    opacity: 100%;
    letter-spacing: 10px;
  }
  .section-1 .sub2-section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 60px 0px 60px;
    height: 50vh;
  }
  .section-1 .sub2-section1 h1 {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 6.3vw;
    color: #202020;
    letter-spacing: 5px;
  }
  .section-1 .sub2-section1 p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 3.1vw;
    padding-top: 20px;
    opacity: 65%;
    font-style: oblique;
  }
  .section-1 .sub2-section1 a {
    text-decoration: none;
    letter-spacing: 10px;
    padding-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: #0d0d0e;
    font-size: 4vw;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }
  .section-1 .sub2-section1 a:hover {
    letter-spacing: 20px;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #f9f9f9;
  }
  .section-2 .sub1-section2 {
    background-image: url(images/kitchen2.jpg);
    background-size: cover;
    min-height: 90%;
    max-width: 190%;
    float: left;
    height: 40vh;
    position: relative;
  }
  .section-2 .sub2-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 160%;
    padding: 0px 60px 0px 60px;
  }
  .section-2 .sub2-section2 h1 {
    padding: 0px 0px 10px 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 4vw;
    color: #202020;
    letter-spacing: 3px;
  }
  .section-2 .sub2-section2 p {
    font-family: 'Lato', sans-serif;
    padding: 0px 0px 0px 20px;
    font-size: 2.6vw;
    font-style: oblique;
    opacity: 65%;
  }
  .section-2 .sub3-section2 {
    background-image: url(images/kitchen3.jpg);
    background-size: cover;
    min-height: 90%;
    width: 0%;
    float: left;
    height: 40vh;
    position: relative;
    opacity: 75%;
  }
}
/*# sourceMappingURL=style.css.map */